In [11]:
# !pip install nbimporter
# !pip install import-ipynb
import import_ipynb
import pandas as pd
import matplotlib.pyplot as plt
# import nbimporter
from KPMG_T1 import DFier, plotify

In [2]:
# Specify the file path
file_path = 'KPMG_rawData.xlsx'

In [3]:
def Mapper(l, df, col):

    # Define the mapping of values to be replaced
    mapping = l
    # Replace values in 'gender' column
    df[col] = df[col].replace(mapping)
    return df

In [4]:
trans = DFier('Transactions', 1, file_path)
demo = DFier('CustomerDemographic', 1, file_path)
add = DFier('CustomerAddress', 1, file_path)

In [5]:
# demo.head()

In [6]:
demo.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [7]:
demo1 = demo.drop('default', axis=1)
demo1.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
dtype: int64

In [8]:
print(demo1.dtypes)
demo1['DOB'] = pd.to_datetime(demo1['DOB'])

customer_id                              int64
first_name                              object
last_name                               object
gender                                  object
past_3_years_bike_related_purchases      int64
DOB                                     object
job_title                               object
job_industry_category                   object
wealth_segment                          object
deceased_indicator                      object
owns_car                                object
tenure                                 float64
dtype: object

In [9]:
# demo1.gender.value_counts()

In [10]:
switch = {'F': 'Female', 'Femal': 'Female', 'M': 'Male'}
demo1 = Mapper(switch, demo1, 'gender')
demo1.gender.value_counts()

gender
Female    2039
Male      1873
U           88
Name: count, dtype: int64

In [13]:
demo1.describe()

,customer_id,past_3_years_bike_related_purchases,DOB,tenure
count,4000.000000,4000.000000,3913,3913.000000
mean,2000.500000,48.890000,1977-07-12 23:56:41.277792,10.657041
min,1.000000,0.000000,1843-12-21 00:00:00,1.000000
25%,1000.750000,24.000000,1968-01-22 00:00:00,6.000000
50%,2000.500000,48.000000,1977-07-22 00:00:00,11.000000
75%,3000.250000,73.000000,1987-02-28 00:00:00,15.000000
max,4000.000000,99.000000,2002-03-11 00:00:00,22.000000
std,1154.844867,28.715005,NaN,5.660146

In [24]:
switch = {'NSW': 'New South Wales', 'VIC': 'Victoria', 'QLD': 'Queensland'}
add1 = Mapper(switch, add, 'state')
add1.state.value_counts()

state
New South Wales    2140
Victoria           1021
Queensland          838
Name: count, dtype: int64

In [ ]:
The

## Customers with transaction history

In [17]:
t_hist = list(set(trans.customer_id))
len(t_hist)

3494

In [25]:
demo2 = demo1[demo1['customer_id'].isin(t_hist)]
add2 = add1[add1['customer_id'].isin(t_hist)]

In [20]:
demo2.isnull().sum()

customer_id                              0
first_name                               0
last_name                              112
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     76
job_title                              423
job_industry_category                  561
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  76
dtype: int64

In [21]:
add2.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64